

# Average wages and working hours in OECD countries

In [15]:
#Import the necessary python libaries
import pandas as pd
import numpy as np
import plotly.offline
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

### Source: https://data.oecd.org

In [2]:
#Read in the 'average wages' dataset
wages = pd.read_csv('DP_LIVE_07042018111659086.csv')

In [3]:
#Read in the 'working hours' dataset
whours = pd.read_csv('DP_LIVE_07042018111903976.csv')

Output the first five rows:

In [4]:
wages.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value  Flag Codes
0      AUS    AVWAGE     TOT     USD         A  1990  39073         NaN
1      AUS    AVWAGE     TOT     USD         A  1991  38864         NaN
2      AUS    AVWAGE     TOT     USD         A  1992  39626         NaN
3      AUS    AVWAGE     TOT     USD         A  1993  40003         NaN
4      AUS    AVWAGE     TOT     USD         A  1994  40295         NaN

In [5]:
whours.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value  Flag Codes
0      AUS     HRWKD     TOT  HR_WKD         A  1979   1834         NaN
1      AUS     HRWKD     TOT  HR_WKD         A  1980   1836         NaN
2      AUS     HRWKD     TOT  HR_WKD         A  1981   1820         NaN
3      AUS     HRWKD     TOT  HR_WKD         A  1982   1802         NaN
4      AUS     HRWKD     TOT  HR_WKD         A  1983   1791         NaN

Number of rows and columns of the dataframe

In [5]:
wages.shape

(883, 8)

In [8]:
whours.shape

(1375, 8)

The dataframes in the current state are not useful.

Therefore, we have to restructure the datasets.

In [20]:
wages = wages.pivot(index='TIME', columns='LOCATION',values='Value' )
wages.tail()

LOCATION,AUS,AUT,BEL,CAN,CHE,CHL,CZE,DEU,DNK,ESP,...,MEX,NLD,NOR,NZL,POL,PRT,SVK,SVN,SWE,USA
TIME,,,,,,,,,,,,,,,,,,,,,
2012,52698.0,47755.0,49395.0,46561.0,59806.0,27064.0,22266.0,43701.0,49649.0,36917.0,...,15080.0,51719.0,53153.0,37999.0,23255.0,24673.0,21566.0,33040.0,40526.0,57653.0
2013,52460.0,47872.0,50014.0,47385.0,60592.0,27790.0,22028.0,44161.0,50009.0,36952.0,...,15172.0,51896.0,54150.0,37582.0,23550.0,25169.0,21759.0,32888.0,40931.0,57369.0
2014,52649.0,48009.0,50020.0,47931.0,60520.0,27964.0,22495.0,44743.0,50951.0,36890.0,...,15230.0,51576.0,54476.0,37856.0,24032.0,24717.0,22153.0,33439.0,41461.0,58219.0
2015,51986.0,48252.0,50098.0,48213.0,60242.0,27628.0,23003.0,45810.0,51463.0,37259.0,...,15230.0,52719.0,54629.0,38519.0,24597.0,24595.0,22924.0,34153.0,42190.0,59691.0
2016,52063.0,48295.0,49587.0,48403.0,60124.0,28434.0,23722.0,46389.0,52580.0,37333.0,...,15311.0,52833.0,53643.0,39397.0,25921.0,24529.0,23508.0,34965.0,42816.0,60154.0

In [19]:
whours=whours.pivot(index='TIME', columns='LOCATION', values='Value')
whours.tail()

LOCATION,AUS,AUT,BEL,CAN,CHE,CHL,CRI,CZE,DEU,DNK,...,NZL,OECD,POL,PRT,RUS,SVK,SVN,SWE,TUR,USA
TIME,,,,,,,,,,,,,,,,,,,,,
2012,1689.0,1653.0,1560.0,1713.0,1591.0,2024.0,2243.0,1776.0,1375.0,1423.0,...,1734.0,1770.0,1929.0,1849.0,1982.0,1789.0,1644.0,1618.0,1855.0,1785.0
2013,1685.0,1638.0,1558.0,1707.0,1573.0,2015.0,2157.0,1763.0,1362.0,1426.0,...,1752.0,1765.0,1918.0,1859.0,1980.0,1772.0,1662.0,1609.0,1832.0,1783.0
2014,1681.0,1628.0,1556.0,1704.0,1568.0,1990.0,2136.0,1777.0,1368.0,1414.0,...,1762.0,1764.0,1923.0,1867.0,1985.0,1760.0,1682.0,1609.0,NaN,1786.0
2015,1682.0,1608.0,1551.0,1707.0,1590.0,1988.0,2157.0,1756.0,1368.0,1412.0,...,1757.0,1766.0,1963.0,1869.0,1978.0,1754.0,1688.0,1611.0,NaN,1786.0
2016,1669.0,1601.0,NaN,1703.0,NaN,1974.0,2212.0,1770.0,1363.0,1410.0,...,1752.0,1763.0,1928.0,1842.0,1974.0,1740.0,1682.0,1621.0,NaN,1783.0

### Let's have a look at the average working hours in the year 2016.

In [21]:
#Create Series of the working hours in the year 2016
whours16 = pd.Series(data=whours.tail(1).values.tolist()[0], index=whours.columns.values.tolist()).sort_values()
whours16.dropna(inplace=True)

In [33]:
#Create bar chart
color=np.array(['rgb(253,174,107)']*whours16.shape[0])
color[whours16.median()==whours16.values]='rgb(44,127,184)'
color[whours16.index=='DEU']='rgb(44,162,95)'
color[whours16.max()==whours16.values] ='rgb(44,127,184)'
color[whours16.index=='LUX'] = 'rgb(44,127,184)'

data = [go.Bar(
            x=whours16.index,
            y=whours16.values,
            marker=dict(
                color=color.tolist())
)]

layout = go.Layout(
    title='Average working hours of the OECD countries [2016]',
    xaxis = dict(title='OECD countries'), 
    yaxis = dict(title='yearly average working hours per person')
)

fig = go.Figure(data=data, layout=layout)

iplot(fig)

In the year 2016, German workers had the lowest average working hours of all OECD countries.

Whereas, Mexican workers had the highest average workings hours.

In general, working hours doesn't indicate the wealth of a country.

Income is a more suitable measurement for prosperity.

### What about the yearly average income?

In [28]:
#Create series of the average wages in the year 2016
inc16 = pd.Series(data=wages.tail(1).values.tolist()[0], index=wages.columns.values.tolist()).sort_values()

In [32]:
#Create the bar chart
color=np.array(['rgb(253,174,107)']*inc16.shape[0])
color[inc16.median()==inc16.values]='rgb(44,127,184)'
color[inc16.index=='DEU']='rgb(44,162,95)'
color[inc16.min()==inc16.values] ='rgb(44,127,184)'
color[inc16.max()==inc16.values] ='rgb(44,127,184)'

data = [go.Bar(
            x=inc16.index,
            y=inc16.values,
            marker=dict(
                color=color.tolist())
    )]

layout = go.Layout(
    title='Average wages of the OECD countries [2016]',
    xaxis = dict(title='OECD countries'), 
    yaxis = dict(title='Yearly average wages per person [$US]')
)

fig = go.Figure(data=data, layout=layout)

iplot(fig)

We saw in the chart before that Mexican workers had the longest average working hours, here we can see that they earn the lowest yearly average income of all OECD countries.

The yearly average wage in Luxembourg was the highest of all OECD countries, even though their average working hours were one of at the lower end.

In conclusion, productivity is the decisive factor of wealth.

### Northern Europe

In [35]:
neuwages = wages[['DNK', 'EST', 'FIN', 'ISL', 'LVA', 'NOR', 'SWE']]

In [36]:
neuwages.head()

LOCATION      DNK  EST      FIN      ISL  LVA      NOR      SWE
TIME
1990      38332.0  NaN  32114.0  34834.0  NaN  31786.0  27850.0
1991      38531.0  NaN  32444.0  37660.0  NaN  32138.0  26504.0
1992      39827.0  NaN  31966.0  36360.0  NaN  32549.0  27332.0
1993      40321.0  NaN  30839.0  34444.0  NaN  32859.0  27008.0
1994      38894.0  NaN  31287.0  35135.0  NaN  33529.0  27676.0

In [37]:
# Create traces
trace0 = go.Scatter(
    x = neuwages.index,
    y = neuwages['DNK'],
    mode = 'lines',
    name = 'Denmark'
)
trace1 = go.Scatter(
    x = neuwages.index,
    y = neuwages['EST'],
    mode = 'lines',
    name = 'Estonia'
)
trace2 = go.Scatter(
    x = neuwages.index,
    y = neuwages['FIN'],
    mode = 'lines',
    name = 'Finland'
)

trace3 = go.Scatter(
    x = neuwages.index,
    y = neuwages['ISL'],
    mode = 'lines',
    name = 'Iceland'
)
trace4 = go.Scatter(
    x = neuwages.index,
    y = neuwages['LVA'],
    mode = 'lines',
    name = 'Latvia'
)
trace5 = go.Scatter(
    x = neuwages.index,
    y = neuwages['NOR'],
    mode = 'lines',
    name = 'Norway'
)

trace6 = go.Scatter(
    x = neuwages.index,
    y = neuwages['SWE'],
    mode = 'lines',
    name = 'Sweden'
)
data = [trace0, trace1, trace2, trace3, trace4, trace5]

layout = go.Layout(title='Yearly average income: Northern Europe', 
                  xaxis = dict(title='Year'), 
                  yaxis = dict(title='Yearly average income per person [$US]')
                  )

fig = go.Figure(data=data, layout=layout)

iplot(fig)

Why are Scandinavian country so rich?

Norway: resource rich country, especially oil in public hand.

Denmark: production of machinery and instruments: world’s largest shipping company, Maersk. agricultural products: net exporter of food.

Iceland: one of the largest fishing industry, several volcanoes: ideal for hydroelectric power and geothermal energy.

Finland: high technology (Nokia) and wood products

In [59]:
seuwages = wages[['GRC', 'ITA', 'PRT', 'SVN', 'ESP']]

In [65]:
trace0 = go.Scatter(
    x = seuwages.index,
    y = seuwages['GRC'],
    mode = 'lines',
    name = 'Griechenland'
)
trace1 = go.Scatter(
    x = seuwages.index,
    y = seuwages['ITA'],
    mode = 'lines',
    name = 'Italien'
)
trace2 = go.Scatter(
    x = seuwages.index,
    y = seuwages['PRT'],
    mode = 'lines',
    name = 'Portugal'
)

trace3 = go.Scatter(
    x = seuwages.index,
    y = seuwages['SVN'],
    mode = 'lines',
    name = 'Slowenien'
)
trace4 = go.Scatter(
    x = seuwages.index,
    y = seuwages['ESP'],
    mode = 'lines',
    name = 'Spanien'
)

data = [trace0, trace1, trace2, trace3, trace4]

layout = go.Layout(title='Durchschnittseinkommen: Süd-Europa', 
                  xaxis = dict(title='Jahre'), 
                  yaxis = dict(title='jährl. Durchschnittseinkommen [$US]')
                  )

fig = go.Figure(data=data, layout=layout)

iplot(fig)

From the beginning of the 2000's the yearly average income in slovenia rose significantly.

Reason: Slovenia joined the European Union on 1 May 2004. In June 2004 it joined the European Exchange Rate Mechanism.

In the year 2009 and onwards the Greece yearly average income dropped significantly till it stabilized in 2013, because of the Greece debt crises.

### In which part of Europe was the income the highest in the year 2016?

In [68]:
weuwages = wages[['LUX', 'NLD', 'AUT', 'CHE', 'BEL', 'DEU', 'FRA']]

eeuwages = wages[['POL', 'SVN', 'CZE', 'HUN']]

europe = pd.concat([eeuwages.mean(axis=1), neuwages.mean(axis=1), seuwages.mean(axis=1), weuwages.mean(axis=1)], axis=1)

europe

europe.rename({0:'East-Europe', 1:'North-Europe', 2:'South-Europe', 3:'West-Europe'}, axis=1, inplace=True)
europe.head()


trace0 = go.Scatter(
    x = europe.index,
    y = europe['East-Europe'],
    mode = 'lines',
    name = 'East-Europe'
)
trace1 = go.Scatter(
    x = europe.index,
    y = europe['North-Europe'],
    mode = 'lines',
    name = 'North-Europe'
)
trace2 = go.Scatter(
    x = europe.index,
    y = europe['South-Europe'],
    mode = 'lines',
    name = 'South-Europe'
)

trace3 = go.Scatter(
    x = europe.index,
    y = europe['West-Europe'],
    mode = 'lines',
    name = 'West-Europe'
)

data = [trace0, trace1, trace2, trace3]

layout = go.Layout(title='Average incomes of the average incomes', 
                  xaxis = dict(title='Year'), 
                  yaxis = dict(title='Yearly average income [$US]')
                  )

fig = go.Figure(data=data, layout=layout)

iplot(fig)

In average, countries in west Europe have higher salaries than in all other parts of europe.

The lowest average incomes are in East-European countries.